.buildControl {
    display: inline-block;
    margin: 3px;
    padding: 3px;
    border: 1px dotted burlywood;
}

.salad {
    display: inline-block;
    text-indent: -9999px;
    width: 100px;
    height: 82px;
    background: url('../../../../assets/svgs/salad.svg');
    background-size: 100px 82px;
}

.bacon {
    display: inline-block;
    text-indent: -9999px;
    width: 100px;
    height: 82px;
    background: url('../../../../assets/svgs/bacon.svg');
    background-size: 100px 82px;
}

.steak {
    display: inline-block;
    text-indent: -9999px;
    width: 100px;
    height: 82px;
    background: url('../../../../assets/svgs/steak.svg');
    background-size: 100px 82px;
}

.cheese {
    display: inline-block;
    text-indent: -9999px;
    width: 100px;
    height: 82px;
    background: url('../../../../assets/svgs/cheese.svg');
    background-size: 100px 82px;
}

.egg {
    display: inline-block;
    text-indent: -9999px;
    width: 100px;
    height: 82px;
    background: url('../../../../assets/svgs/egg.svg');
    background-size: 100px 82px;
}

.incOrdec {   
    border: solid black .5px;
    background-color: burlywood;
    color: black;
    padding: 8px 8px;
    margin: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.count {
    border: solid darkblue;
    text-align: center;
    font-size: 14px;
}